{{#model}}
  /// <summary>
  /// {{description}}{{^description}}{{classname}}{{/description}}
  /// </summary>
  {{#vendorExtensions.x-cls-compliant}}[CLSCompliant({{{.}}})]{{/vendorExtensions.x-cls-compliant}}{{#vendorExtensions.x-com-visible}}[ComVisible({{{.}}})]{{/vendorExtensions.x-com-visible}}
    {{>visibility}} sealed partial class {{classname}} : AbstractOpenAPISchema{{#parent}},{{/parent}}{{#validatable}}{{^parent}},{{/parent}}{{/validatable}}{{#lambda.joinWithComma}}{{#parent}}{{{.}}}  {{/parent}}{{#equatable}}IEquatable<{{classname}}>  {{/equatable}}{{#validatable}}IValidatableObject  {{/validatable}}{{/lambda.joinWithComma}}
    {
      public override string SchemaType { get; } = AnyOf;{{#model.isNullable}}
      public override bool IsNullable { get; } = true;{{/model.isNullable}}
      
      {{#isNullable}}
        /// <summary>
        /// Initializes a new instance of the <see cref="{{classname}}" /> class.
        /// </summary>
        public {{classname}}() { }
        
      {{/isNullable}}
      {{#composedSchemas.anyOf}}
        {{^vendorExtensions.x-duplicated-data-type}}
          {{^isNull}}
            /// <summary>
            /// Initializes a new instance of the <see cref="{{classname}}" /> class
            /// with the <see cref="{{#lambdaCref}}{{{dataType}}}{{/lambdaCref}}" /> class
            /// </summary>
            /// <param name="actualInstance">An instance of {{dataType}}.</param>
            public {{classname}}({{{dataType}}}{{^model.isNullable}}{{#nullableReferenceTypes}}?{{/nullableReferenceTypes}}{{/model.isNullable}} actualInstance)
            {
              this.ActualInstance = actualInstance{{^model.isNullable}}{{^isPrimitiveType}} ?? throw new ArgumentException("Invalid instance found. Must not be null."){{/isPrimitiveType}}{{#isPrimitiveType}}{{#isArray}} ?? throw new ArgumentException("Invalid instance found. Must not be null."){{/isArray}}{{/isPrimitiveType}}{{#isPrimitiveType}}{{#isFreeFormObject}} ?? throw new ArgumentException("Invalid instance found. Must not be null."){{/isFreeFormObject}}{{/isPrimitiveType}}{{#isPrimitiveType}}{{#isString}} ?? throw new ArgumentException("Invalid instance found. Must not be null."){{/isString}}{{/isPrimitiveType}}{{/model.isNullable}};
            }
          {{/isNull}}
        {{/vendorExtensions.x-duplicated-data-type}}
      {{/composedSchemas.anyOf}}
      
      private object{{^model.isNullable}}{{#nullableReferenceTypes}}?{{/nullableReferenceTypes}}{{/model.isNullable}} _actualInstance;
      
      /// <summary>
      /// Gets or Sets ActualInstance
      /// </summary>
      public override object{{#nullableReferenceTypes}}?{{/nullableReferenceTypes}} ActualInstance
      {
        get => _actualInstance;
        set
        {
          {{#nullableReferenceTypes}}
            if (value is null)
            {
              this._actualInstance = null;
            }
            else
            {
            {{/nullableReferenceTypes}}
            {{#anyOf}}
              {{^-first}}else {{/-first}}if (value.GetType() == typeof({{{.}}}))
                {
                  this._actualInstance = value;
                }
              {{/anyOf}}
              else
              {
                throw new ArgumentException("Invalid instance found. Must be the following types:{{#anyOf}} {{{.}}}{{^-last}},{{/-last}}{{/anyOf}}");
              }
              {{#nullableReferenceTypes}}
              }
            {{/nullableReferenceTypes}}
          }
        }
        {{#composedSchemas.anyOf}}
          {{^vendorExtensions.x-duplicated-data-type}}
            {{^isNull}}
              
              /// <summary>
              /// Get the actual instance of `{{dataType}}`. If the actual instance is not `{{dataType}}`,
              /// the InvalidClassException will be thrown
              /// </summary>
              /// <returns>An instance of {{dataType}}</returns>
              public {{{dataType}}}{{#nullableReferenceTypes}}?{{/nullableReferenceTypes}} Get{{#lambda.titlecase}}{{baseType}}{{/lambda.titlecase}}{{#isArray}}{{#lambda.titlecase}}{{{dataFormat}}}{{/lambda.titlecase}}{{/isArray}}() => ({{{dataType}}}{{#nullableReferenceTypes}}?{{/nullableReferenceTypes}})this.ActualInstance;
            {{/isNull}}
          {{/vendorExtensions.x-duplicated-data-type}}
        {{/composedSchemas.anyOf}}
        
        /// <summary>
        /// Returns the string presentation of the object
        /// </summary>
        /// <returns>string presentation of the object</returns>
        public override string ToString()
        {
          var sb = new StringBuilder();
          sb.AppendLine("class {{classname}} {");
          sb.Append("  ActualInstance: ").Append(this.ActualInstance).AppendLine();
          sb.AppendLine("}");
          return sb.ToString();
        }
        
        /// <summary>
        /// Returns the JSON string presentation of the object
        /// </summary>
        /// <returns>JSON string presentation of the object</returns>
        public override string ToJson() => JsonSerializer.Serialize(this.ActualInstance, {{classname}}.SerializerSettings);
        
        /// <summary>
        /// Converts the JSON string into an instance of {{classname}}
        /// </summary>
        /// <param name="jsonString">JSON string</param>
        /// <returns>An instance of {{classname}}</returns>
        public static {{classname}}{{#nullableReferenceTypes}}?{{/nullableReferenceTypes}} FromJson(string jsonString)
        {
          {{classname}}{{#nullableReferenceTypes}}?{{/nullableReferenceTypes}} new{{classname}} = null;
          
          if (string.IsNullOrEmpty(jsonString))
          {
            return new{{classname}};
          }
          {{#anyOf}}
            
            try
            {
              new{{classname}} = new {{classname}}(JsonSerializer.Deserialize<{{{.}}}>(jsonString, {{classname}}.SerializerSettings));
              // deserialization is considered successful at this point if no exception has been thrown.
              return new{{classname}};
            }
            catch (Exception exception)
            {
              // deserialization failed, try the next one
              System.Diagnostics.Debug.WriteLine(string.Format("Failed to deserialize `{0}` into {{{.}}}: {1}", jsonString, exception.ToString()));
            }
          {{/anyOf}}
          
          // no match found, throw an exception
          throw new InvalidDataException("The JSON string `" + jsonString + "` cannot be deserialized into any schema defined.");
        }{{#equatable}}
        
        /// <summary>
        /// Returns true if objects are equal
        /// </summary>
        /// <param name="input">object to be compared</param>
        /// <returns>Boolean</returns>
        public override bool Equals(object input)
        {
          {{#useCompareNetObjects}}
            return OpenAPIClientUtils.compareLogic.Compare(this, input as {{classname}}).AreEqual;
          {{/useCompareNetObjects}}
          {{^useCompareNetObjects}}
            return this.Equals(input as {{classname}});
          {{/useCompareNetObjects}}
        }
        
        /// <summary>
        /// Returns true if {{classname}} instances are equal
        /// </summary>
        /// <param name="input">Instance of {{classname}} to be compared</param>
        /// <returns>Boolean</returns>
        public bool Equals({{classname}} input)
        {
          {{#useCompareNetObjects}}
            return OpenAPIClientUtils.compareLogic.Compare(this, input).AreEqual;
          {{/useCompareNetObjects}}
          {{^useCompareNetObjects}}
            if (input is null)
            {
              return false;
            }
            
            return this.ActualInstance.Equals(input.ActualInstance);
          {{/useCompareNetObjects}}
        }
        
        /// <summary>
        /// Gets the hash code
        /// </summary>
        /// <returns>Hash code</returns>
        public override int GetHashCode()
        {
          unchecked // Overflow is fine, just wrap
          {
            int hashCode = 41;
            if (this.ActualInstance is not null)
            {
              hashCode = hashCode * 59 + this.ActualInstance.GetHashCode();
            }
            
            return hashCode;
          }
        }{{/equatable}}{{#validatable}}
        
        /// <summary>
        /// To validate all properties of the instance
        /// </summary>
        /// <param name="validationContext">Validation context</param>
        /// <returns>Validation Result</returns>
        IEnumerable<System.ComponentModel.DataAnnotations.ValidationResult> IValidatableObject.Validate(ValidationContext validationContext)
        {
          yield break;
        }{{/validatable}}
      }
    {{/model}}