{{#parentModel.composedSchemas.anyOf}}{{#lambda.nameInCamelCase}}{{parent}}{{/lambda.nameInCamelCase}}.{{#lambda.titlecase}}{{baseType}}{{#isArray}}{{{dataFormat}}}{{/isArray}}{{/lambda.titlecase}}  {{/parentModel.composedSchemas.anyOf}}{{#allVars}}{{#isInherited}}{{^isNew}}{{nameInCamelCase}}{{/isNew}}{{#isNew}}{{#isEnum}}{{#isInnerEnum}}{{classname}}.{{/isInnerEnum}}{{{datatypeWithEnum}}}ToJsonValue({{nameInCamelCase}}){{/isEnum}}{{^isEnum}}{{nameInCamelCase}}.ToString(){{/isEnum}}{{/isNew}}  {{/isInherited}}{{/allVars}}