{{>partial_header}}

namespace {{packageName}}.{{apiPackage}};

using System;
using System.Net.Http;
{{#useCollection}}
  using System.Collections.ObjectModel;
{{/useCollection}}
{{#supportsAsync}}
using System.Threading.Tasks;
{{/supportsAsync}}

using {{packageName}}.Client;

{{#hasImport}}using {{packageName}}.{{modelPackage}};
{{/hasImport}}
{{#operations}}
  /// <summary>
  /// Represents a collection of functions to interact with the API endpoints
  /// </summary>
  {{>visibility}} interface {{interfacePrefix}}{{classname}}Sync : IApiAccessor
  {
    #region Synchronous Operations
    {{#operation}}
      /// <summary>
      /// {{summary}}
      /// </summary>
      {{#notes}}
        /// <remarks>
        /// {{.}}
        /// </remarks>
      {{/notes}}
      /// <exception cref="{{packageName}}.Client.ApiException">Thrown when fails to make API call</exception>
      {{#allParams}}/// <param name="{{paramName}}">{{description}}{{^required}} (optional{{#defaultValue}}, default to {{.}}{{/defaultValue}}){{/required}}{{#isDeprecated}} (deprecated){{/isDeprecated}}</param>
      {{/allParams}}/// <returns>{{returnType}}</returns>
      {{#isDeprecated}}
        [Obsolete]
      {{/isDeprecated}}
      {{#returnType}}{{{.}}}{{#nullableReferenceTypes}}?{{/nullableReferenceTypes}}{{/returnType}}{{^returnType}}void{{/returnType}} {{operationId}}({{#allParams}}{{{dataType}}} {{paramName}}{{^required}}{{#optionalMethodArgument}} = default{{/optionalMethodArgument}}{{/required}}{{^-last}}, {{/-last}}{{/allParams}});
        
        /// <summary>
        /// {{summary}}
        /// </summary>
        /// <remarks>
        /// {{notes}}
        /// </remarks>
        /// <exception cref="{{packageName}}.Client.ApiException">Thrown when fails to make API call</exception>
        {{#allParams}}/// <param name="{{paramName}}">{{description}}{{^required}} (optional{{#defaultValue}}, default to {{.}}{{/defaultValue}}){{/required}}{{#isDeprecated}} (deprecated){{/isDeprecated}}</param>
        {{/allParams}}/// <returns>ApiResponse of {{returnType}}{{^returnType}}object(void){{/returnType}}</returns>
        {{#isDeprecated}}
          [Obsolete]
        {{/isDeprecated}}
        ApiResponse<{{{returnType}}}{{^returnType}}object{{/returnType}}{{#nullableReferenceTypes}}?{{/nullableReferenceTypes}}> {{operationId}}WithHttpInfo({{#allParams}}{{{dataType}}} {{paramName}}{{^required}}{{#optionalMethodArgument}} = default{{/optionalMethodArgument}}{{/required}}{{^-last}}, {{/-last}}{{/allParams}});
      {{/operation}}
      #endregion Synchronous Operations
    }
    
    {{#supportsAsync}}
      /// <summary>
      /// Represents a collection of functions to interact with the API endpoints
      /// </summary>
      {{>visibility}} interface {{interfacePrefix}}{{classname}}Async : IApiAccessor
      {
        #region Asynchronous Operations
        {{#operation}}
          /// <summary>
          /// {{summary}}
          /// </summary>
          /// <remarks>
          /// {{notes}}
          /// </remarks>
          /// <exception cref="{{packageName}}.Client.ApiException">Thrown when fails to make API call</exception>
          {{#allParams}}
            /// <param name="{{paramName}}">{{description}}{{^required}} (optional{{#defaultValue}}, default to {{.}}{{/defaultValue}}){{/required}}{{#isDeprecated}} (deprecated){{/isDeprecated}}</param>
          {{/allParams}}
          /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
          /// <returns>Task of {{returnType}}{{^returnType}}void{{/returnType}}</returns>
          {{#isDeprecated}}
            [Obsolete]
          {{/isDeprecated}}
          {{#returnType}}Task<{{{.}}}{{#nullableReferenceTypes}}?{{/nullableReferenceTypes}}>{{/returnType}}{{^returnType}}Task{{/returnType}} {{operationId}}Async({{#allParams}}{{{dataType}}} {{paramName}}{{^required}}{{#optionalMethodArgument}} = default{{/optionalMethodArgument}}{{/required}}, {{/allParams}}CancellationToken cancellationToken = default);
            
            /// <summary>
            /// {{summary}}
            /// </summary>
            /// <remarks>
            /// {{notes}}
            /// </remarks>
            /// <exception cref="{{packageName}}.Client.ApiException">Thrown when fails to make API call</exception>
            {{#allParams}}
              /// <param name="{{paramName}}">{{description}}{{^required}} (optional{{#defaultValue}}, default to {{.}}{{/defaultValue}}){{/required}}{{#isDeprecated}} (deprecated){{/isDeprecated}}</param>
            {{/allParams}}
            /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
            /// <returns>Task of ApiResponse{{#returnType}} ({{.}}){{/returnType}}</returns>
            {{#isDeprecated}}
              [Obsolete]
            {{/isDeprecated}}
            Task<ApiResponse<{{{returnType}}}{{^returnType}}object{{/returnType}}{{#nullableReferenceTypes}}?{{/nullableReferenceTypes}}>> {{operationId}}WithHttpInfoAsync({{#allParams}}{{{dataType}}} {{paramName}}{{^required}}{{#optionalMethodArgument}} = default{{/optionalMethodArgument}}{{/required}}, {{/allParams}}CancellationToken cancellationToken = default);
          {{/operation}}
          #endregion Asynchronous Operations
        }
      {{/supportsAsync}}
      
      /// <summary>
      /// Represents a collection of functions to interact with the API endpoints
      /// </summary>
      {{>visibility}} interface {{interfacePrefix}}{{classname}} : {{interfacePrefix}}{{classname}}Sync{{#supportsAsync}}, {{interfacePrefix}}{{classname}}Async{{/supportsAsync}} { }
      
      /// <summary>
      /// Represents a collection of functions to interact with the API endpoints
      /// </summary>
      {{>visibility}} sealed partial class {{classname}} : {{interfacePrefix}}{{classname}}
      {
        private ExceptionFactory? _exceptionFactory = (name, response) => null;
        
        /// <summary>
        /// Initializes a new instance of the <see cref="{{classname}}"/> class.
        /// **IMPORTANT** This will also create an instance of HttpClient, which is less than ideal.
        /// It's better to reuse the <see href="https://docs.microsoft.com/en-us/dotnet/architecture/microservices/implement-resilient-applications/use-httpclientfactory-to-implement-resilient-http-requests#issues-with-the-original-httpclient-class-available-in-net">HttpClient and HttpClientHandler</see>.
        /// </summary>
        /// <returns></returns>
        public {{classname}}() : this(basePath: default) { }
        
        /// <summary>
        /// Initializes a new instance of the <see cref="{{classname}}"/> class.
        /// **IMPORTANT** This will also create an instance of HttpClient, which is less than ideal.
        /// It's better to reuse the <see href="https://docs.microsoft.com/en-us/dotnet/architecture/microservices/implement-resilient-applications/use-httpclientfactory-to-implement-resilient-http-requests#issues-with-the-original-httpclient-class-available-in-net">HttpClient and HttpClientHandler</see>.
        /// </summary>
        /// <param name="basePath">The target service's base path in URL format.</param>
        /// <exception cref="ArgumentException"></exception>
        /// <returns></returns>
        public {{classname}}(string? basePath)
        {
          this.Configuration = {{packageName}}.Client.Configuration.MergeConfigurations(GlobalConfiguration.Instance, new Configuration { BasePath = basePath });
          this.ApiClient = new ApiClient(this.Configuration.BasePath);
          this.Client =  this.ApiClient;
          {{#supportsAsync}}
            this.AsynchronousClient = this.ApiClient;
          {{/supportsAsync}}
          this.ExceptionFactory = {{packageName}}.Client.Configuration.DefaultExceptionFactory;
        }
        
        /// <summary>
        /// Initializes a new instance of the <see cref="{{classname}}"/> class using Configuration object.
        /// **IMPORTANT** This will also create an instance of HttpClient, which is less than ideal.
        /// It's better to reuse the <see href="https://docs.microsoft.com/en-us/dotnet/architecture/microservices/implement-resilient-applications/use-httpclientfactory-to-implement-resilient-http-requests#issues-with-the-original-httpclient-class-available-in-net">HttpClient and HttpClientHandler</see>.
        /// </summary>
        /// <param name="configuration">An instance of Configuration.</param>
        /// <exception cref="ArgumentNullException"></exception>
        /// <returns></returns>
        public {{classname}}(Configuration configuration)
        {
          ArgumentNullException.ThrowIfNull(configuration);
          
          this.Configuration = {{packageName}}.Client.Configuration.MergeConfigurations(GlobalConfiguration.Instance, configuration);
          this.ApiClient = new ApiClient(this.Configuration.BasePath);
          this.Client = this.ApiClient;
          {{#supportsAsync}}
            this.AsynchronousClient = this.ApiClient;
          {{/supportsAsync}}
          ExceptionFactory = {{packageName}}.Client.Configuration.DefaultExceptionFactory;
        }
        
        /// <summary>
        /// Initializes a new instance of the <see cref="{{classname}}"/> class.
        /// </summary>
        /// <param name="client">An instance of HttpClient.</param>
        /// <param name="handler">An optional instance of HttpClientHandler that is used by HttpClient.</param>
        /// <exception cref="ArgumentNullException"></exception>
        /// <returns></returns>
        /// <remarks>
        /// Some configuration settings will not be applied without passing an HttpClientHandler.
        /// The features affected are: Setting and Retrieving Cookies, Client Certificates, Proxy settings.
        /// </remarks>
        public {{classname}}(HttpClient client, HttpClientHandler? handler = null) : this(client, basePath: default, handler: handler) { }
        
        /// <summary>
        /// Initializes a new instance of the <see cref="{{classname}}"/> class.
        /// </summary>
        /// <param name="client">An instance of HttpClient.</param>
        /// <param name="basePath">The target service's base path in URL format.</param>
        /// <param name="handler">An optional instance of HttpClientHandler that is used by HttpClient.</param>
        /// <exception cref="ArgumentNullException"></exception>
        /// <exception cref="ArgumentException"></exception>
        /// <returns></returns>
        /// <remarks>
        /// Some configuration settings will not be applied without passing an HttpClientHandler.
        /// The features affected are: Setting and Retrieving Cookies, Client Certificates, Proxy settings.
        /// </remarks>
        public {{classname}}(HttpClient client, string? basePath, HttpClientHandler? handler = null)
        {
          ArgumentNullException.ThrowIfNull(client);
          
          this.Configuration = {{packageName}}.Client.Configuration.MergeConfigurations(GlobalConfiguration.Instance, new Configuration { BasePath = basePath });
          this.ApiClient = new ApiClient(client, this.Configuration.BasePath, handler);
          this.Client =  this.ApiClient;
          {{#supportsAsync}}
            this.AsynchronousClient = this.ApiClient;
          {{/supportsAsync}}
          this.ExceptionFactory = {{packageName}}.Client.Configuration.DefaultExceptionFactory;
        }
        
        /// <summary>
        /// Initializes a new instance of the <see cref="{{classname}}"/> class using Configuration object.
        /// </summary>
        /// <param name="client">An instance of HttpClient.</param>
        /// <param name="configuration">An instance of Configuration.</param>
        /// <param name="handler">An optional instance of HttpClientHandler that is used by HttpClient.</param>
        /// <exception cref="ArgumentNullException"></exception>
        /// <returns></returns>
        /// <remarks>
        /// Some configuration settings will not be applied without passing an HttpClientHandler.
        /// The features affected are: Setting and Retrieving Cookies, Client Certificates, Proxy settings.
        /// </remarks>
        public {{classname}}(HttpClient client, Configuration configuration, HttpClientHandler? handler = null)
        {
          ArgumentNullException.ThrowIfNull(configuration);
          ArgumentNullException.ThrowIfNull(client);
          
          this.Configuration = {{packageName}}.Client.Configuration.MergeConfigurations(GlobalConfiguration.Instance, configuration);
          this.ApiClient = new ApiClient(client, this.Configuration.BasePath, handler);
          this.Client = this.ApiClient;
          {{#supportsAsync}}
            this.AsynchronousClient = this.ApiClient;
          {{/supportsAsync}}
          ExceptionFactory = {{packageName}}.Client.Configuration.DefaultExceptionFactory;
        }
        
        /// <summary>
        /// Initializes a new instance of the <see cref="{{classname}}"/> class
        /// using a Configuration object and client instance.
        /// </summary>
        /// <param name="client">The client interface for synchronous API access.</param>{{#supportsAsync}}
        /// <param name="asyncClient">The client interface for asynchronous API access.</param>{{/supportsAsync}}
        /// <param name="configuration">The configuration object.</param>
        /// <exception cref="ArgumentNullException"></exception>
        public {{classname}}(ISynchronousClient client, {{#supportsAsync}}IAsynchronousClient asyncClient, {{/supportsAsync}}IReadableConfiguration configuration)
        {
          ArgumentNullException.ThrowIfNull(client);
          
          {{#supportsAsync}}
            ArgumentNullException.ThrowIfNull(asyncClient);
            
          {{/supportsAsync}}
          ArgumentNullException.ThrowIfNull(configuration);
          
          this.Client = client;
          {{#supportsAsync}}
            this.AsynchronousClient = asyncClient;
          {{/supportsAsync}}
          this.Configuration = configuration;
          this.ExceptionFactory = {{packageName}}.Client.Configuration.DefaultExceptionFactory;
        }
        
        /// <summary>
        /// Holds the ApiClient if created
        /// </summary>
        public ApiClient? ApiClient { get; set; }
        
        {{#supportsAsync}}
          /// <summary>
          /// The client for accessing this underlying API asynchronously.
          /// </summary>
          public IAsynchronousClient AsynchronousClient { get; set; }
        {{/supportsAsync}}
        
        /// <summary>
        /// The client for accessing this underlying API synchronously.
        /// </summary>
        public ISynchronousClient Client { get; set; }
        
        /// <summary>
        /// Gets the base path of the API client.
        /// </summary>
        /// <value>The base path</value>
        public string? GetBasePath() => this.Configuration.BasePath;
        
        /// <summary>
        /// Gets or sets the configuration object
        /// </summary>
        /// <value>An instance of the Configuration</value>
        public IReadableConfiguration Configuration { get; set; }
        
        /// <summary>
        /// Provides a factory method hook for the creation of exceptions.
        /// </summary>
        public ExceptionFactory? ExceptionFactory
        {
          get
          {
            return _exceptionFactory is not null && _exceptionFactory.GetInvocationList().Length > 1
            ? throw new InvalidOperationException("Multicast delegate for ExceptionFactory is unsupported.")
            : _exceptionFactory;
          }
          set => _exceptionFactory = value;
        }
        
        {{#operation}}
          /// <summary>
          /// {{summary}} {{notes}}
          /// </summary>
          /// <exception cref="{{packageName}}.Client.ApiException">Thrown when fails to make API call</exception>
          {{#allParams}}/// <param name="{{paramName}}">{{description}}{{^required}} (optional{{#defaultValue}}, default to {{.}}{{/defaultValue}}){{/required}}{{#isDeprecated}} (deprecated){{/isDeprecated}}</param>
          {{/allParams}}/// <returns>{{returnType}}</returns>
          {{#isDeprecated}}
            [Obsolete]
          {{/isDeprecated}}
          public {{#returnType}}{{{.}}}{{#nullableReferenceTypes}}?{{/nullableReferenceTypes}}{{/returnType}}{{^returnType}}void{{/returnType}} {{operationId}}({{#allParams}}{{{dataType}}} {{paramName}}{{^required}}{{#optionalMethodArgument}} = default{{/optionalMethodArgument}}{{/required}}{{^-last}}, {{/-last}}{{/allParams}})
          {
            {{#returnType}}{{packageName}}.Client.ApiResponse<{{{returnType}}}{{#nullableReferenceTypes}}?{{/nullableReferenceTypes}}> localVarResponse = {{operationId}}WithHttpInfo({{#allParams}}{{paramName}}{{^-last}}, {{/-last}}{{/allParams}});
              return localVarResponse.Data;{{/returnType}}{{^returnType}}{{operationId}}WithHttpInfo({{#allParams}}{{paramName}}{{^-last}}, {{/-last}}{{/allParams}});{{/returnType}}
            }
            
            /// <summary>
            /// {{summary}} {{notes}}
            /// </summary>
            /// <exception cref="{{packageName}}.Client.ApiException">Thrown when fails to make API call</exception>
            {{#allParams}}/// <param name="{{paramName}}">{{description}}{{^required}} (optional{{#defaultValue}}, default to {{.}}{{/defaultValue}}){{/required}}{{#isDeprecated}} (deprecated){{/isDeprecated}}</param>
            {{/allParams}}/// <returns>ApiResponse of {{returnType}}{{^returnType}}object(void){{/returnType}}</returns>
            {{#isDeprecated}}
              [Obsolete]
            {{/isDeprecated}}
            public ApiResponse<{{{returnType}}}{{^returnType}}object{{/returnType}}{{#nullableReferenceTypes}}?{{/nullableReferenceTypes}}> {{operationId}}WithHttpInfo({{#allParams}}{{{dataType}}} {{paramName}}{{^required}}{{#optionalMethodArgument}} = default{{/optionalMethodArgument}}{{/required}}{{^-last}}, {{/-last}}{{/allParams}})
            {
              {{#allParams}}
                {{#required}}
                  {{^vendorExtensions.x-csharp-value-type}}
                    // verify the required parameter '{{paramName}}' is set
                    if ({{paramName}} is null)
                    {
                      throw new ApiException(400, "Missing required parameter '{{paramName}}' when calling {{classname}}->{{operationId}}");
                    }
                    
                  {{/vendorExtensions.x-csharp-value-type}}
                {{/required}}
              {{/allParams}}
              RequestOptions localVarRequestOptions = new();
              
              string[] _contentTypes = [
                {{#consumes}}
                  "{{{mediaType}}}"{{^-last}},{{/-last}}
                {{/consumes}}
              ];
              
              // to determine the Accept header
              string[] _accepts = [
                {{#produces}}
                  "{{{mediaType}}}"{{^-last}},{{/-last}}
                {{/produces}}
              ];
              
              var localVarContentType = ClientUtils.SelectHeaderContentType(_contentTypes);
              if (localVarContentType is not null)
              {
                localVarRequestOptions.HeaderParameters.Add("Content-Type", localVarContentType);
              }
              
              var localVarAccept = ClientUtils.SelectHeaderAccept(_accepts);
              if (localVarAccept is not null)
              {
                localVarRequestOptions.HeaderParameters.Add("Accept", localVarAccept);
              }
              
              {{#pathParams}}
                {{#required}}
                  localVarRequestOptions.PathParameters.Add("{{baseName}}", ClientUtils.ParameterToString({{paramName}})); // path parameter
                {{/required}}
                {{^required}}
                  if ({{paramName}} is not null)
                  {
                    localVarRequestOptions.PathParameters.Add("{{baseName}}", ClientUtils.ParameterToString({{paramName}})); // path parameter
                  }
                  
                {{/required}}
              {{/pathParams}}
              {{#queryParams}}
                {{#required}}
                  {{#isDeepObject}}
                    {{#items.vars}}
                      localVarRequestOptions.QueryParameters.Add({{packageName}}.Client.ClientUtils.ParameterToMultiMap("{{collectionFormat}}", "{{baseName}}", {{paramName}}.{{name}}));
                    {{/items.vars}}
                    {{^items}}
                      localVarRequestOptions.QueryParameters.Add({{packageName}}.Client.ClientUtils.ParameterToMultiMap("deepObject", "{{baseName}}", {{paramName}}));
                    {{/items}}
                  {{/isDeepObject}}
                  {{^isDeepObject}}
                    localVarRequestOptions.QueryParameters.Add({{packageName}}.Client.ClientUtils.ParameterToMultiMap("{{collectionFormat}}", "{{baseName}}", {{paramName}}));
                  {{/isDeepObject}}
                {{/required}}
                {{^required}}
                  if ({{paramName}} is not null)
                  {
                    {{#isDeepObject}}
                      {{#items.vars}}
                        if ({{paramName}}.{{name}} is not null)
                        {
                          localVarRequestOptions.QueryParameters.Add({{packageName}}.Client.ClientUtils.ParameterToMultiMap("{{collectionFormat}}", "{{baseName}}", {{paramName}}.{{name}}));
                        }
                      {{/items.vars}}
                      {{^items}}
                        localVarRequestOptions.QueryParameters.Add({{packageName}}.Client.ClientUtils.ParameterToMultiMap("deepObject", "{{baseName}}", {{paramName}}));
                      {{/items}}
                    {{/isDeepObject}}
                    {{^isDeepObject}}
                      localVarRequestOptions.QueryParameters.Add({{packageName}}.Client.ClientUtils.ParameterToMultiMap("{{collectionFormat}}", "{{baseName}}", {{paramName}}));
                    {{/isDeepObject}}
                  }
                  
                {{/required}}
              {{/queryParams}}
              {{#headerParams}}
                {{#required}}
                  localVarRequestOptions.HeaderParameters.Add("{{baseName}}", ClientUtils.ParameterToString({{paramName}})); // header parameter
                {{/required}}
                {{^required}}
                  if ({{paramName}} is not null)
                  {
                    localVarRequestOptions.HeaderParameters.Add("{{baseName}}", ClientUtils.ParameterToString({{paramName}})); // header parameter
                  }
                  
                {{/required}}
              {{/headerParams}}
              {{#formParams}}
                {{#required}}
                  {{#isFile}}
                    localVarRequestOptions.FileParameters.Add("{{baseName}}", {{paramName}});
                  {{/isFile}}
                  {{^isFile}}
                    localVarRequestOptions.FormParameters.Add("{{baseName}}", ClientUtils.ParameterToString({{paramName}})); // form parameter
                  {{/isFile}}
                {{/required}}
                {{^required}}
                  if ({{paramName}} is not null)
                  {
                    {{#isFile}}
                      localVarRequestOptions.FileParameters.Add("{{baseName}}", {{paramName}});
                    {{/isFile}}
                    {{^isFile}}
                      localVarRequestOptions.FormParameters.Add("{{baseName}}", ClientUtils.ParameterToString({{paramName}})); // form parameter
                    {{/isFile}}
                  }
                  
                {{/required}}
              {{/formParams}}
              {{#bodyParam}}localVarRequestOptions.Data = {{paramName}};
                
              {{/bodyParam}}
              {{#authMethods}}
                // authentication ({{name}}) required
                {{#isApiKey}}
                  var apiKeyIfExists = this.Configuration.GetApiKeyWithPrefix("{{keyParamName}}");
                  if (!string.IsNullOrEmpty(apiKeyIfExists))
                  {
                    {{#isKeyInCookie}}
                      // cookie parameter support
                      localVarRequestOptions.Cookies.Add(new Cookie("{{keyParamName}}", apiKeyIfExists));
                    {{/isKeyInCookie}}
                    {{#isKeyInHeader}}
                      localVarRequestOptions.HeaderParameters.Add("{{keyParamName}}", apiKeyIfExists);
                    {{/isKeyInHeader}}
                    {{#isKeyInQuery}}
                      localVarRequestOptions.QueryParameters.Add({{packageName}}.Client.ClientUtils.ParameterToMultiMap("", "{{keyParamName}}", apiKeyIfExists));
                    {{/isKeyInQuery}}
                  }

                {{/isApiKey}}
                {{#isBasicBasic}}
                  // http basic authentication required
                  if (!string.IsNullOrEmpty(this.Configuration.Username) || (!string.IsNullOrEmpty(this.Configuration.Password) && !localVarRequestOptions.HeaderParameters.ContainsKey("Authorization")))
                  {
                    localVarRequestOptions.HeaderParameters.Add("Authorization", "Basic " + ClientUtils.Base64Encode(this.Configuration.Username + ":" + this.Configuration.Password));
                  }
                  
                {{/isBasicBasic}}
                {{#isBasicBearer}}
                  // bearer authentication required
                  if (!string.IsNullOrEmpty(this.Configuration.AccessToken) && !localVarRequestOptions.HeaderParameters.ContainsKey("Authorization"))
                  {
                    localVarRequestOptions.HeaderParameters.Add("Authorization", "Bearer " + this.Configuration.AccessToken);
                  }
                  
                {{/isBasicBearer}}
                {{#isOAuth}}
                  // oauth required
                  if (!string.IsNullOrEmpty(this.Configuration.AccessToken) && !localVarRequestOptions.HeaderParameters.ContainsKey("Authorization"))
                  {
                    localVarRequestOptions.HeaderParameters.Add("Authorization", "Bearer " + this.Configuration.AccessToken);
                  }
                  
                {{/isOAuth}}
                {{#isHttpSignature}}
                  if (this.Configuration.HttpSigningConfiguration is not null)
                  {
                    var HttpSigningHeaders = this.Configuration.HttpSigningConfiguration.GetHttpSignedHeader(this.Configuration.BasePath, "{{{httpMethod}}}", "{{{path}}}", localVarRequestOptions);
                    foreach (var headerItem in HttpSigningHeaders)
                    {
                      if (localVarRequestOptions.HeaderParameters.ContainsKey(headerItem.Key))
                      {
                        localVarRequestOptions.HeaderParameters[headerItem.Key] = new List<string>() { headerItem.Value };
                      }
                      else
                      {
                        localVarRequestOptions.HeaderParameters.Add(headerItem.Key, headerItem.Value);
                      }
                    }
                  }

                {{/isHttpSignature}}
              {{/authMethods}}
              
              // make the HTTP request
              var localVarResponse = this.Client.{{#lambda.titlecase}}{{#lambda.lowercase}}{{httpMethod}}{{/lambda.lowercase}}{{/lambda.titlecase}}<{{{returnType}}}{{^returnType}}object{{/returnType}}{{#nullableReferenceTypes}}?{{/nullableReferenceTypes}}>("{{{path}}}", localVarRequestOptions, this.Configuration);
              
              if (this.ExceptionFactory is not null)
              {
                var _exception = this.ExceptionFactory("{{operationId}}", localVarResponse);
                if (_exception is not null)
                {
                  throw _exception;
                }
              }
              
              return localVarResponse;
            }{{#supportsAsync}}
            
            /// <summary>
            /// {{summary}} {{notes}}
            /// </summary>
            /// <exception cref="{{packageName}}.Client.ApiException">Thrown when fails to make API call</exception>
            {{#allParams}}
              /// <param name="{{paramName}}">{{description}}{{^required}} (optional{{#defaultValue}}, default to {{.}}{{/defaultValue}}){{/required}}{{#isDeprecated}} (deprecated){{/isDeprecated}}</param>
            {{/allParams}}
            /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
            /// <returns>Task of {{returnType}}{{^returnType}}void{{/returnType}}</returns>
            {{#isDeprecated}}
              [Obsolete]
            {{/isDeprecated}}
            public async Task{{#returnType}}<{{{.}}}{{#nullableReferenceTypes}}?{{/nullableReferenceTypes}}>{{/returnType}} {{operationId}}Async({{#allParams}}{{{dataType}}} {{paramName}}{{^required}}{{#optionalMethodArgument}} = default{{/optionalMethodArgument}}{{/required}}, {{/allParams}}CancellationToken cancellationToken = default)
            {
              {{#returnType}}{{packageName}}.Client.ApiResponse<{{{returnType}}}{{#nullableReferenceTypes}}?{{/nullableReferenceTypes}}> localVarResponse = await {{operationId}}WithHttpInfoAsync({{#allParams}}{{paramName}}{{^-last}}, {{/-last}}{{/allParams}}{{#allParams.0}}, {{/allParams.0}}cancellationToken).ConfigureAwait(false);
                return localVarResponse.Data;{{/returnType}}{{^returnType}}await {{operationId}}WithHttpInfoAsync({{#allParams}}{{paramName}}{{^-last}}, {{/-last}}{{/allParams}}{{#allParams.0}}, {{/allParams.0}}cancellationToken).ConfigureAwait(false);{{/returnType}}
              }
              
              /// <summary>
              /// {{summary}} {{notes}}
              /// </summary>
              /// <exception cref="{{packageName}}.Client.ApiException">Thrown when fails to make API call</exception>
              {{#allParams}}
                /// <param name="{{paramName}}">{{description}}{{^required}} (optional{{#defaultValue}}, default to {{.}}{{/defaultValue}}){{/required}}{{#isDeprecated}} (deprecated){{/isDeprecated}}</param>
              {{/allParams}}
              /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
              /// <returns>Task of ApiResponse{{#returnType}} ({{.}}){{/returnType}}</returns>
              {{#isDeprecated}}
                [Obsolete]
              {{/isDeprecated}}
              public async Task<{{packageName}}.Client.ApiResponse<{{{returnType}}}{{^returnType}}object{{/returnType}}{{#nullableReferenceTypes}}?{{/nullableReferenceTypes}}>> {{operationId}}WithHttpInfoAsync({{#allParams}}{{{dataType}}} {{paramName}}{{^required}}{{#optionalMethodArgument}} = default{{/optionalMethodArgument}}{{/required}}, {{/allParams}}CancellationToken cancellationToken = default)
              {
                {{#allParams}}
                  {{#required}}
                    {{^vendorExtensions.x-csharp-value-type}}
                      // verify the required parameter '{{paramName}}' is set
                      if ({{paramName}} is null)
                      {
                        throw new ApiException(400, "Missing required parameter '{{paramName}}' when calling {{classname}}->{{operationId}}");
                      }
                      
                    {{/vendorExtensions.x-csharp-value-type}}
                  {{/required}}
                {{/allParams}}
                RequestOptions localVarRequestOptions = new();
                
                string[] _contentTypes = [
                  {{#consumes}}
                    "{{{mediaType}}}"{{^-last}}, {{/-last}}
                  {{/consumes}}
                ];
                
                // to determine the Accept header
                string[] _accepts = [
                  {{#produces}}
                    "{{{mediaType}}}"{{^-last}},{{/-last}}
                  {{/produces}}
                ];
                
                var localVarContentType = ClientUtils.SelectHeaderContentType(_contentTypes);
                if (localVarContentType is not null)
                {
                  localVarRequestOptions.HeaderParameters.Add("Content-Type", localVarContentType);
                }
                
                var localVarAccept = ClientUtils.SelectHeaderAccept(_accepts);
                if (localVarAccept is not null)
                {
                  localVarRequestOptions.HeaderParameters.Add("Accept", localVarAccept);
                }
                
                {{#pathParams}}
                  {{#required}}
                    localVarRequestOptions.PathParameters.Add("{{baseName}}", ClientUtils.ParameterToString({{paramName}})); // path parameter
                  {{/required}}
                  {{^required}}
                    if ({{paramName}} is not null)
                    {
                      localVarRequestOptions.PathParameters.Add("{{baseName}}", ClientUtils.ParameterToString({{paramName}})); // path parameter
                    }
                    
                  {{/required}}
                {{/pathParams}}
                {{#queryParams}}
                  {{#required}}
                    localVarRequestOptions.QueryParameters.Add({{packageName}}.Client.ClientUtils.ParameterToMultiMap("{{collectionFormat}}", "{{baseName}}", {{paramName}}));
                  {{/required}}
                  {{^required}}
                    if ({{paramName}} is not null)
                    {
                      localVarRequestOptions.QueryParameters.Add({{packageName}}.Client.ClientUtils.ParameterToMultiMap("{{collectionFormat}}", "{{baseName}}", {{paramName}}));
                    }
                    
                  {{/required}}
                {{/queryParams}}
                {{#headerParams}}
                  {{#required}}
                    localVarRequestOptions.HeaderParameters.Add("{{baseName}}", ClientUtils.ParameterToString({{paramName}})); // header parameter
                  {{/required}}
                  {{^required}}
                    if ({{paramName}} is not null)
                    {
                      localVarRequestOptions.HeaderParameters.Add("{{baseName}}", ClientUtils.ParameterToString({{paramName}})); // header parameter
                    }
                    
                  {{/required}}
                {{/headerParams}}
                {{#formParams}}
                  {{#required}}
                    {{#isFile}}
                      localVarRequestOptions.FileParameters.Add("{{baseName}}", {{paramName}});
                    {{/isFile}}
                    {{^isFile}}
                      localVarRequestOptions.FormParameters.Add("{{baseName}}", ClientUtils.ParameterToString({{paramName}})); // form parameter
                    {{/isFile}}
                  {{/required}}
                  {{^required}}
                    if ({{paramName}} is not null)
                    {
                      {{#isFile}}
                        localVarRequestOptions.FileParameters.Add("{{baseName}}", {{paramName}});
                      {{/isFile}}
                      {{^isFile}}
                        localVarRequestOptions.FormParameters.Add("{{baseName}}", ClientUtils.ParameterToString({{paramName}})); // form parameter
                      {{/isFile}}
                    }
                    
                  {{/required}}
                {{/formParams}}
                {{#bodyParam}}localVarRequestOptions.Data = {{paramName}};

                {{/bodyParam}}
                {{#authMethods}}
                  // authentication ({{name}}) required
                  {{#isApiKey}}
                    var apiKeyIfExists = this.Configuration.GetApiKeyWithPrefix("{{keyParamName}}");
                    if (!string.IsNullOrEmpty(apiKeyIfExists))
                    {
                      {{#isKeyInCookie}}
                        // cookie parameter support
                        localVarRequestOptions.Cookies.Add(new Cookie("{{keyParamName}}", apiKeyIfExists));
                      {{/isKeyInCookie}}
                      {{#isKeyInHeader}}
                        localVarRequestOptions.HeaderParameters.Add("{{keyParamName}}", apiKeyIfExists);
                      {{/isKeyInHeader}}
                      {{#isKeyInQuery}}
                        localVarRequestOptions.QueryParameters.Add({{packageName}}.Client.ClientUtils.ParameterToMultiMap("", "{{keyParamName}}", apiKeyIfExists));
                      {{/isKeyInQuery}}
                    }

                  {{/isApiKey}}
                  {{#isBasic}}
                    {{#isBasicBasic}}
                      // http basic authentication required
                      if (!string.IsNullOrEmpty(this.Configuration.Username) || (!string.IsNullOrEmpty(this.Configuration.Password) && !localVarRequestOptions.HeaderParameters.ContainsKey("Authorization")))
                      
                      {
                        localVarRequestOptions.HeaderParameters.Add("Authorization", "Basic " + ClientUtils.Base64Encode(this.Configuration.Username + ":" + this.Configuration.Password));
                      }
                      
                    {{/isBasicBasic}}
                    {{#isBasicBearer}}
                      // bearer authentication required
                      if (!string.IsNullOrEmpty(this.Configuration.AccessToken) && !localVarRequestOptions.HeaderParameters.ContainsKey("Authorization"))
                      {
                        localVarRequestOptions.HeaderParameters.Add("Authorization", "Bearer " + this.Configuration.AccessToken);
                      }
                      
                    {{/isBasicBearer}}
                  {{/isBasic}}
                  {{#isOAuth}}
                    // oauth required
                    if (!string.IsNullOrEmpty(this.Configuration.AccessToken) && !localVarRequestOptions.HeaderParameters.ContainsKey("Authorization"))
                    {
                      localVarRequestOptions.HeaderParameters.Add("Authorization", "Bearer " + this.Configuration.AccessToken);
                    }
                    
                  {{/isOAuth}}
                  {{#isHttpSignature}}
                    if (this.Configuration.HttpSigningConfiguration is not null)
                    {
                      var HttpSigningHeaders = this.Configuration.HttpSigningConfiguration.GetHttpSignedHeader(this.Configuration.BasePath, "{{{httpMethod}}}", "{{{path}}}", localVarRequestOptions);
                      foreach (var headerItem in HttpSigningHeaders)
                      {
                        if (localVarRequestOptions.HeaderParameters.ContainsKey(headerItem.Key))
                        {
                          localVarRequestOptions.HeaderParameters[headerItem.Key] = new List<string>() { headerItem.Value };
                        }
                        else
                        {
                          localVarRequestOptions.HeaderParameters.Add(headerItem.Key, headerItem.Value);
                        }
                      }
                    }
                    
                  {{/isHttpSignature}}
                {{/authMethods}}
                // make the HTTP request
                var localVarResponse = await this.AsynchronousClient.{{#lambda.titlecase}}{{#lambda.lowercase}}{{httpMethod}}{{/lambda.lowercase}}{{/lambda.titlecase}}Async<{{{returnType}}}{{^returnType}}object{{/returnType}}{{#nullableReferenceTypes}}?{{/nullableReferenceTypes}}>("{{{path}}}", localVarRequestOptions, this.Configuration, cancellationToken).ConfigureAwait(false);
                
                if (this.ExceptionFactory is not null)
                {
                  var _exception = this.ExceptionFactory("{{operationId}}", localVarResponse);
                  if (_exception is not null)
                  {
                    throw _exception;
                  }
                }
                
                return localVarResponse;
              }{{/supportsAsync}}{{/operation}}
            }
          {{/operations}}